
<section>

      <h1>Shopping Cart !</h1>
      <!-- <div>{{cartItems|json}}</div> -->

      <div>
         <!-- <a class="btn btn-primary" ng-if="user" ng-click="saveCartItems()">Save</a> -->
        <a class="btn btn-primary" ng-if="user" ng-click="placeOrder()">Place Order</a>
        <br/>
        <div>
        {{order}}
      </div>
      </div>
      <br/>
      <br/>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">unit price</th>
            <th scope="col">quantity</th>
            <th scope="col">Item Total</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cartItems">
            <th scope="row">{{$index+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.quantity*item.price}}</td>
            <td><a class="btn btn-danger" ng-click="deleteItem($index)">X</a></td>

          </tr>
          
        </tbody>
      </table>
      
    
</section>