
<form ng-controller="loginCtrl">

    

    <div class="form-group">
      <label for="email" >Email address</label>
      <input type="email" ng-model="user.email"   class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"  ng-model="user.password"
       class="form-control" id="password" placeholder="Password">
    </div>
    
 
    <button type="submit" ng-click="doLogin()" class="btn btn-default">Login</button>
    <div style="color:red">
      {{errorMessage}}
    </div>
  </form>
 