<!DOCTYPE html>
<html lang="en" ng-app="smartShopper">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
     , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SmartShopper</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!-- Latest compiled and minified JavaScript -->

</head>
<body >
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" 
            class="navbar-toggle collapsed" 
            data-toggle="collapse" 
            data-target="#bs-example-navbar-collapse-1"
             aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Smart Shopper</a>
          </div>

          <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" 
              ng-model="searchBoxInput"
              placeholder="Search" name="srch-term" id="srch-term">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
            </form>
            </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- <li>
                  <a href="#/link1">Link1</a></li>
              <li><a href="#/link2">Link2</a></li> -->
             
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <!-- https://bootsnipp.com/snippets/Zlaax -->
                 
                   <div class="list-inline">
                        <a href="#/cart"><i class="fa fa-2x fa-shopping-cart"></i>
                    <lavel id="cart-badge" class="badge badge-danger" 
                    style="background-color: red">{{cartItems.length|| 0}}</lavel></a>
                  </div>
           
 
                </li>
                    <li><a ng-hide="user" href="#/login">Login</a></li>
                    <li><a ng-show="user" href="#/logout">Logout</a></li>
                    <li><a href="#/register">Register</a></li>
                    
            </ul>
            
           
          </div>
        </div>
      </nav>
      
      <script src="angular.js"></script>
      <script src="angular-route.js"></script>
      <script src="app.js"></script>
      <script src="controllers/registerCtrl.js"></script>
      <script src="controllers/loginCtrl.js"></script>
      <script src="controllers/logoutCtrl.js"></script>
      <script src="controllers/homeCtrl.js"></script>
      <script src="controllers/cartCtrl.js"></script>
      <script src="services/shoppingCartService.js"></script>
      <script src="services/ProductService.js"></script>

     <section>
                <h1 ng-if="user" class="jumbotron">Welcome {{user.firstName |uppercase}} To SmartShopper </h1>
                <div ng-view>
               
                </div>
         
     </section>






     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>